/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* global style  */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  
  line-height: 1.6rem;
}
h2{
  font-family: 'Raleway', sans-serif;
  line-height: 3.5rem;
  font-size: 2.25rem;
  color: var(--Very-Dark-Blue);
}
p{
  
  color: var(--Very-Dark-Blue);
  font-size: 1.1rem;
  font-weight: 500;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  /* Primary */

  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  /* Accent */

  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);

  /* Neutral */

  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
}

/* project css */
.header{
  margin-top: 3.5rem;
  margin-bottom: 5rem;
  width: 100%;
  padding: 0rem 3.5rem;
  display: flex;
  justify-content: space-between;
}
.header .header-right{
  display: flex;
  gap: 2.5rem;
}

.container{
  width: 100%;
}

.card-1{
  padding: 0rem 3.5rem;

  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card-1 .primary-part{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-1 img{
  width: 50%;
}
.card-1 form{
  display: flex;
  gap: 1.5rem;
}
.get-started input{
  border: 1px solid var(--Desaturated-Blue);
  height: 2.75rem;
  width: 20rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0rem 1.5rem;
}
.get-started button{

  color: white;
  background-color: var(--Bright-Blue);
  border: none;
  height: 2.75rem;
  width: 12.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1rem;
  /* font-weight: 500; */
  box-shadow:  2px 4px 8px 1px rgba(93, 120, 240, 0.3);
}

.card-2 .primary-part{
  background-color: hsl(250, 75%, 98%);
}

.card-2-mobile-bg{
  display: none;
}